@import "styles/variables";

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.section {
  padding: 0;
  height: 780px;
  display: flex;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.textWrapper {
  z-index: 2;
  position: relative;
  padding-top: $spacing-50;
  padding-bottom: $spacing-4;
  height: 100%;

  @include media("tablet-landscape") {
    padding-bottom: $spacing-15;
  }

  [dir="rtl"] & {
    padding-top: $spacing-30 * 2;
  }
}

.bottomCol {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.body {
  display: flex;
  align-items: center;

  .icon {
    margin-right: $spacing-2;
    font-size: $font-size-8;
    animation: bounce 2s ease infinite;

    [dir="rtl"] & {
      margin-left: $spacing-2;
      margin-right: 0;
    }
  }
}
