$screen-mobile-portrait: 375px;
$screen-mobile-landscape: 576px;
$screen-tablet-portrait: 768px;
$screen-tablet-landscape: 1024px;
$screen-desktop-small: 1200px;
$screen-desktop-medium: 1600px;
$screen-desktop-large: 1920px;
