@import "styles/variables";
@import "styles/mixins";

.textarea {
  min-height: $spacing-30;
  max-height: $spacing-40;
  width: 100%;
  font-size: $font-size-2;
  padding: $spacing-2 $spacing-4;
  border-radius: $border-radius-small;
  border: 1px solid var(--color-secondary-light-grey);
  color: var(--color-primary-dark);
  background-color: var(--color-background-1);
  resize: vertical;
  outline: 0;
  @include font-primary;

  @include media("tablet-landscape") {
    font-size: $font-size-3;
    min-height: $spacing-40;
    max-height: 300px;
  }

  &::placeholder {
    color: var(--color-secondary-light-grey);
  }

  &.error {
    color: red;
    border-color: red;

    &::placeholder {
      color: red;
    }
  }

  &:focus {
    color: var(--color-primary-dark);
    border-color: var(--color-secondary-light-grey);

    &::placeholder {
      color: var(--color-secondary-light-grey);
    }
  }
}

.label {
  display: block;
  margin: $spacing-2 0;
  color: var(--color-fill-1);
}
