@import "styles/mixins";
@import "styles/variables";

.button {
  @include font-primary;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-2;
  border-radius: $border-radius-small;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0;
  background: var(--color-brand-primary);
  color: var(--color-primary-black);
  padding: $spacing-2 $spacing-4;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 1;

  @include media("tablet-landscape") {
    width: initial;
  }

  &:hover {
    background: var(--color-primary-dark);
    color: var(--color-brand-primary);
  }

  &.outline {
    background: transparent;
    color: var(--color-brand-midnight-blue);
    border: 2px solid var(--color-brand-midnight-blue);

    &:hover {
      background: var(--color-brand-midnight-blue);
      color: var(--color-secondary-base-1);
    }
  }
}
